# Игнорируем истемный файл macOS, сохраняющий метаданные о папках
.DS_Store

# Игнорируем это служебные файлы и папки, создаваемые IntelliJ IDEA или Gradle для хранения настроек проекта, кешей, сборки
.idea/
.gradle/

# Игнорируем папку сборки
build/